<div class="mt-3 d-flex">
  {{#each Course}}
    <div class="card m-3" style="width: 18rem;">
      <a href="/course/{{this.slug}}"><img
          src="{{this.image}}"
          class="card-img-top"
          alt="..."
        /></a>
      <div class="card-body">
        <a href="/course/{{this.slug}}">
          <h5 class="card-title">{{this.name}}</h5></a>
        <p class="card-text">{{this.description}}</p>
        <a href="#" class="btn btn-primary">Buy quote</a>
      </div>
    </div>
  {{/each}}
</div>